<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="ascii"/>
<link rel="stylesheet" href="minimalism.css"/>
<title>A theory of non binarity explained by an ignorant dumbass that barely remembers middle school biology</title>
</head>
<body>
<p><i>Content warning: Biology, Opinion, Gender ideology.</i></p>
<nav>
</nav>
<p>
There seems to be a whole cultural war going over what people have in their underwear and what human rights people shouldn't have.
As a professional ignorant dumbass, my role is to pretend there is no stake and give a take on a loosely related and often misunderstood topic: gender, and in particularly non-binarity.
This take is probably bringing nothing new to the table, and may even be worse than proper literature on the topic, but it's going to be a consistent theory covering enough grounds to be useful as a foundation.
I hope to give a different perspective, not sanitised for societal acceptability, not softened to preserve the feelings of people, and most of all rooted in biology to dispell some common myths.
And above all, it's my blog so I can do whatever the heck I want.
</p>
<h3>The beginning: 5&epsilon;&times;</h3>
<p>
Biological sex is a human category put on pluricellular organisms with two different size of gametes.
It is not the only reproduction system observable in nature, and organisms are not necessarily exclusively of one sex for their whole lifetime.
Humans as a specie reproduce and has biological sex.<br/>
Humans that are of one biological sex tend to not be (or become) the other sex, even though there has been a documented case of <a href="https://doi.org/10.1002/bjs.1800690517">sequential or simultaneous hermaphroditism</a>.
This might not hold true in the future depending on scientific progress.
Let's keep exceedingly rare cases and speculation on future sex change technology aside.
Humans can be(come) of no biological sex (non gamete producing) through injuries or at the other end of possibilies a normal process called menopause.
The other way is usually part of puberty.
</p>
<h3>Extensions to pure biological sex</h3>
<p>
Humans extend biological sex to include individuals that used to be or are expected to become of one biological sex.
These extended biological sexes are correlated with quantifiable traits such as sex organs, shape of some chromosomes, hormone levels, or facial hair among many other.
The correlation is, mind you, not perfect, and different set of traits can be present depending on the individuals.
Some individuals known as intersex show traits of both or none of the sexes.<br/>
The externally visible statistical traits are what makes up sexual dimorphism (the statistical difference between individuals of two different sexes).
In practise we use (<a href="https://en.wikipedia.org/wiki/Intersex_medical_interventions">and unfortunately also enforce</a>) some of these traits to determine the sex of individuals.
Most of these traits have co-evolved with sex-specific roles that benefit from them.
Although not all sex-specific roles are of that nature, because most are cultural and cultural change rate is faster than evolutionary body selection.
That is not to say that there are natural roles that individuals of one sex should take on, but on the opposite that history showed us that there is no reason for these roles to be intrinsically tied to sex.
This is where the notion of binary genders is defined.
Binary genders is all the empirical and cultural differences that are statistically observable between individuals of differently identified sexes.
</p>
<h3>Binary genders</h3>
<p>
Gendered roles are not the only cultural component of binary genders as there are other kind of cultural expectations such as behaviourial or appearence.
All the observable components of gender (empirical and cultural) and in particular the external physical traits are what is used to infer an individual sex.
Then people tend to extend that to inference to gender and impose associated cultural expectations.<br/>
Gendered expectations play a big role in discriminations and particularly sexism so you should be able to identify them.
This identification should be performed critically as denying their existence is not helpful.<br/>
Here is an example: Assume there are objects to move, the gendered expectation is that male identified individuals should perform this task.
This is a gendered expectation as males are indeed on average stronger than females, but the most important factor in physical strength is exercise and to a way lesser extent testosterone level (which is a secondary sex caracteristic).<br/>
Here sex doesn't matter because what is really asked is for the stronger people to take on the task.
A stronger female should take part in the task, and a weaker male could abstain.
Physically impaired people should abstain no matter their sex.<br/>
The fact that in this example a female took on a masculine role and a male abstained from it doesn't make the female less feminine nor the male less masculine nor the physically impaired genderless.
Gender is descriptive, not prescriptive, you do not fail gender, you make it.
</p>
<h3>Defying expectations</h3>
<p>
This last sentence and the whole description of gender seem to indicate that there are only two genders of which all (non intersex) individual mostly fall into.
But it is a mistake to think so, because gender are statistical empirical categories meaning that an individual can significantly differ from the statistic normality in many ways.
Therefore the step where people extend the sex inference to gender and impose associated cultural expectations is wrong and also part of a discrimination called gender normativity.<br/>
One of the ways to not conform is to chose to refuse the gender associated with the sex an individual is expected to become or used to be and embrace the cultural expectations of another gender.
This is referred to as the individual being transgender.<br/>
Another way is to not conform exclusively to a gender associated with a sex.
This is what non binarity and non binary genders are.
</p>
<h3>Gender identity</h3>
<p>
The observable components of gender used to infer an individual sex can be exploited to make people infer a gender that the individual embraces the cultural expectations of.
This is an active and ongoing peformance of gender.
But most individual do not perform gender voluntarily, they perform it as the normal way to act in society as they've been taught their whole life.<br/>
These observable components of gender performed by individuals are what is called performed gender.
An indivudual may want for themselves different expectations than what is imposed to them by others because of their performed gender; these wished for gendered expectations are what makes up the self-identified gender (or gender identity).<br/>
These expectations may be expressed in terms of binary genders, but for several reasons they may also be expressed in terms of metaphors; gender metaphors are called xenogenders.
Reasons to not relate non-binary genders to binary genders include: refusing to tie an expectation detrimental to a binary gender, clarify which part of a binary gender's expectation to use, wish for expectations not part of any binary gender.
The first two reasons in my opinion are not striving for simplicity and clarity as they tend to fall into unknown and unknowable (because of the sheer number) micro-labels.
For the same reason of micro-labels, I am against the use of xenogenders past the term xenogender itself.
I am skeptical of their usefulness as a concept because metaphors are not clearer than simply using non-binary/xenogender and explaining the gender.
Xenogenders also run the risk of refusing to use binary genders by restrictivily and stereotypically interpreting them; in short, because of gender normativity.<br/>
A limit of gender identity is that an individual can't and shouldn't police what other people expect of them past a certain point; expectations are built through repeated experience, so if the individual fails to meet the expectation they want to be put on them, there is no reason for people around them to keep holding the expectation.
You cannot require of people to expect you to be soft/strong/etc. if you just aren't.<br/>
Gender identity is often explained as an internal sense of feeling of one's gender, leading some people to imagine genders tied to no expectations, or unclear ones.
This is a misuse of gender as it communicates no practical information to other people.
On top of that, it can be harmful to the person using the gender as a though terminating, argument ender, self-exploration stiffling device to seek validation and feel special or unique.
</p>
<h3>Gendered clothing</h3>
<p>
Gender appears in several contexts in our societies often as a mix of cultural and empirical differences between sexes.
One of these contexts is clothing.
Because overall body shape statistically differs between sexes, there is an argument to be made that gendered clothing for body shapes makes sense.
Obviously for mass produced clothes there will always be limits to adaptability in term of statistically rare body shapes, but this doesn't take away that most of the population body shapes are accounted for by general clothing.
The argument unfortunately falls apart because of how accounting for body shapes is done in practice.
In practice some clothes kind/design are limited to certain body shapes, and the body shapes criterion are binary sex and circumference.<br/>
For instance general clothes store do not provide dresses with the "man" binary sex criterion, nor do they provide clothes with decently sized pockets with the "woman" binary sex criterion.
What about binary sex prevents males from wearing dresses and females from having pockets?
Literally nothing, and there are examples proving this in history.
No, the real purpose of the binary sex criterion is to impose the fashion industry's gender norms on people.<br/>
When I use the term "fashion industry's gender norms" I am not implying that the fasion industry is a coherent and intentional entity, but an ensemble of capitalistic corporations and an education system aimed at maximising shareholder profit.
This in particular means that some of the gendered norms imposed are profit driven and some are colateral of ideological views (guess which one is which).
There is indeed no other reason than profit to force women to use overpriced purses to carry pain medication and other menstrual cycle management tools, and makeup (don't let me expand on that).
Some practices also reveal a conjunction of both motive for instance the lack of body shape criteria for certain fashionable clothing.
Not only is it cutting cost on different cloth sizes, it also enforces an ideal body shape to be fasionable.<br/>
The other part of the argument against the biological basis for clothes shape criteria is that the circumference criterion is also trash.
A body is not described by a single measure from XXS (no measurement unit) to 7XL (no measurement unit either).
Torso height, each arm's length, chest circumference, waist circumference, hips circumference, each leg's length, genital space, all of these are relevant to make good fitting clothes.
In a context of shareholder profit maximisation, the triplet of circumference slider - binay sex - cloth design, makes sense for maximising sales count while minimizing cost, but in terms of adequate cloth serving to the whole population a more rational approach would be many sizing with few clothes functions (cold temperatures, sport, dirty environment, etc.) to chose from.<br/>
Currently, outside of the expected body shapes, people have to get expensive tailored clothes, sometimes too expensive to actually be afordable.
The unaffordability of clothes forces a specific look or a visibly negligent look onto non conforming people and those with statistically rare bodyshapes.
This is another concrete example of gender norms and how mixing them with statistical differences helps imposing them on people.
</p>
<h3>Grammatical gender</h3>
<p>
If you've heard about pronouns in relation to gender before, you probably know a language with pronouns influenced by gender, which english is so this is not far fetched.
Recently, it seems a lot of people have a very strong opinion about the use of pronouns, and I may be stepping in a eggshells minefield here.
But remember, this is an ignorant dumbass' take on the subject that brings nothing useful to the table, raw and ignoring all social acceptability.
I stated it in the intro and title, so sorry if a previous section made you think otherwise.
Now the warnings are issued and your guard should be up.<br/>
Before going over pronouns, let's tackle briefly the wider topic of grammatical gender on languages for which it matters.
In some languages grammatical gender has a big influence, some words may be grammatically gendered, agreement rules may propagate this gender to other words, and people may be grammatically gendered.
But this is only in some languages and may not be the only or most important category for word choice and agreement rules.
Cases, number, age difference, object qualities and more may also have an impact.
And like all the grammatical/syntactic categories, there are exceptions, coherence problems, arbitrariness; basically they're just helpful labels to draw general boundaries but reality is always messier than definitive (yes or no) categories.
Basically they are categories, for sure, but their name is not the true prescriptive descriptor of what they contain, and belonging to a category do not prescribe any true link with other words of the category other than belonging to the category.
LINGUISTIC CONSTRUCTS ARE NOT EMPIRICAL TRUTH, they're contingent, incidental, product of generations of misunderstanding and wrong interpretations -the main force behind language evolution.<br/>
On top of that most words do not have any link with biological sexes, so how could their gender have any meaning?
Therefore, grammatical gender for general words is meaningless.<br/>
The only case that can be made is for grammatical gender on words relating to individuals with a gender identity, extended sex, or biological sex (referred to as gender in the next few paragraphs).
I will focus on people, but I am ready to make the same argument for other living sexed individuals.
In some language grammatical gender is used to reflect a person's gender, that is to say, refering to people requires to specify a gender or that said gender is unknown.
Why should this specific information be mandatorily communicated instead of optionally?
Think about it, if I talk about my neighbor, do I need to mention his/her/their height? their weight? their date of birth? the age their pet goldfish died at?
Rethorical questions obviously no, unless it is relevant to the conversation.
Somehow, gender seems so important that it should be conveyed even when communicating about their pet dog; and not conveying it seems impossible without playing language puzzles.
Moreover, there are simple optional ways to convey gender when it is relevant.<br/>
Well, the reason is that gender norms are so prevalent that if my neighbor was a woman, their goldfish dying young means they are not good at caring and therefore not a GOOD FEMALE that you shouldn't MARRY and RAISE CHILDREN WITH (you didn't have a chance in the first place mate, that's not a real person); whereas, if my neighbor was a man, that would just be swept under the rug as a normal event for a BUSY WORKING MALE, so you can go MARRY them and RAISE CHILDREN TOGETHER (you still don't have a chance, that's still not a real person).
Obviously, this example is completely overexaggerated, but not necessarily detached from reality considering titles (in english in this case) include marital status.
In this instance grammatical gender acts as a trigger for sexist beliefs, and if it isn't shocking to you, consider what would happen if instead of gender we had grammtical ethnicity.<br/>
Grammatical gender's only link with gender is what preconceived gender expectations the receiver of the discourse should hold, even after the person referred to is known (and therefore these expectation are irrelevant), and even if the concerned person would rather not be subject to gender norms.
My position on the topic is that ideally, grammatical gender should not exist.
Wow, so radical, but how do we communicate gender without it?
Well, just read those hypotetical sentences about my hypotetical neighbor with a hypothetical goldfish which hypothetically died young.
Did I use grammatical gender?
I did ("they") because it is part of correct sentences, but that is not how I communicated their hypothetical gender.<br/>
In practice we cannot do away with grammatical gender so easily without just using a different language.
My position is then to use it minimally, even if the people want me to use the right gender.
I'm not advocating for using the wrong gender, because while that does not invalidate gender, conveying an invalid gender leads to mismatch in gender expectations, and this is wrong.
I'm advocating for using gender neutral pronouns so that no gender is conveyed.
In that case, if you think it is wrong, then ask yourself why do you want to police other people's language so much?
Are you unsafe with your gender? shouldn't you be happy that people are placing LESS gender norms on you?<br/>
Consequentially, my position on pronouns is that simplicity wins, we should all use gender neutral pronouns.
Side note, neopronouns are a nice language experiment, but they do not strive for simplicity and clarity, which means I'm against their use, just like micro-labels and xenogender names.
</p>
<h3>Non-binary genders</h3>
<p>
Finally, let's have a look at possible non-binary gender identitiy derscriptors.
</p>
<dl>
<dt><i>Genderqueer, Genderfuck, or Genderbender:</i></dt>
<dd>Non-binary with an emphasis on performing gender against expectations (aka. queer).</dd>
<dt><i>Agender or Genderless:</i></dt>
<dd>
	No gender identity.
	The associated cultural expectations is none; which isn't prescribing any opinion towards cultural expectations as a whole.
</dd>
<dt><i>Questioning:</i></dt>
<dd>People who are exploring their gender, often with the additional meaning of "I don't know yet".</dd>
<dt><i>Gender neutral or Neutrois:</i></dt>
<dd>It can mean Genderless, or neutral gender (not female, not male, not a mix, not neither).</dd>
<dt><i>Polygender or Multigender:</i></dt>
<dd>Several genders, either at the same time or not.</dd>
<dt><i>Bigender, Trigender, etc.:</i></dt>
<dd>Polygender with 2/3/etc. fixed genders.</dd>
<dt><i>Genderfluid:</i></dt>
<dd>Moving between different genders with time, not necessarily fixed genders, nor made of a single or any gender.</dd>
<dt><i>Androgyne:</i></dt>
<dd>
	It is used as a synonym for non-binary in the general population.
	It means a gender in between binary male and binary female, or both at the same time.
	Basically any linear combination of male and female.
</dd>
<dt><i>Xenogender:</i></dt>
<dd>Gender expressed outside the realm of binary sexes, usually based on metaphors to find a way to express complex feelings.</dd>
<dt><i>Demigender:</i></dt>
<dd>Category of genders written Demi+X in general with the special case of Demiboy and Demigirl; a gender with partial connections to gender X, often meant as a mix between a neutral or unknown gender, and gender X.</dd>
<dt><i>Genderflux:</i></dt>
<dd>Gender of fluctuating intensity over time; whereas Genderfluid is more general and encompasses gender alignment (male, female, xenogender, etc.).</dd>
</dl>
<h3>More resources</h3>
<ul>
<li>The Trevor project <a href="https://www.thetrevorproject.org/resources/article/understanding-gender-identities-and-pronouns">explainer</a> and <a href="https://www.thetrevorproject.org/research-briefs/diversity-of-nonbinary-youth">studies</a></li>
<li><a href="https://nonbinary.wiki/wiki/Main_Page">The Nonbinary Wiki</a></li>
<li><a href="https://gender.fandom.com/wiki/Gender_Wiki">The Gender Wiki</a></li>
<li><a href="https://www.genderspectrum.org/resources">Gender Spectrum resources</a></li>
<li><a href="https://en.wikipedia.org/wiki/Non-binary">Wikipedia</a></li>
</ul>
</body>
</html>
