<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="ascii"/>
<link rel="stylesheet" href="minimalism.css"/>
<title>The forgotten secrets to a healthier body</title>
</head>
<body>
<nav>
</nav>
<p>
In our modern society there seems to be a lot of people worried for their health and wanting to be healthier.
These people will have many tricks, hacks, and knowledge pearls to a healthy life.
They may even try to force them unprompted on you when seeing you doing something they deem unhealthy.
Unfortunately these people are often less healthy than they think, and often unhealthy while putting on themself a significant cognitive load.
The reason they end up in that situation is that most of their hack comes from non expert news outlets relaying anecdotal studies in a outrageously inflated sensationalistic light.
Here I will not be doing that.
I will only give you the ways to get healthier with the most impact, so impactful in fact that by doing them and not following any of these people hack you will end up way healthier than by just following their hacks.
I promise than any potential (if even proven) health benefit from cutting GMO, cutting pesticides, keto diet, organic food, raw food, unprocessed food, or food supplements are completely negligible when compared to my advices.
Any person wanting to be healthier should focus on the following points first.
</p>
<h3>Trick 1: Stop poisoning yourself (not with anecdotal stuff)</h3>
<p>
If you are taking drugs, please seek help to get off them.
Drugs are unhealthy for you and willpower is NOT ENOUGH to stop as they modify your brain chemestry.
Asking for help and getting it is not a sign of weakness, it is not shameful and you are entitled to it.
A chemical impact on your brain cannot be fought with willpower, they induce dependency and dependency is an urge.
The urge to blink can be fought with willpower for about 10 seconds, then the urge becomes harder and harder to fight and overcomes any amount of willpower, then the body blinks several times to hydrate the cornea.
Addictions work the same way, they make you think you can fight them with willpower alone, but it is just an illusion.
If drugs help you cope with your issues and you think now is not the time to stop, please still get help.
I assure you that most people who are addicted are in your situation and the people in addiction centres are used to accompanying and helping people in your situation.<br/>
And here is the kicker, when I talk about drugs I include (like everybody should) cigarette and alcohol.
At this point most people on these substances object that their consumption is reasonable or even healthy.
THERE IS NO REASONABLE/HEALTHY DOSE of nicotine nor alcohol, you've been lied to by industrial lobbying.
These substances do not help with stress management, especially in the long term, no matter the amount.
These substances do not have positive health impact no matter the amount.
There is no such thing as a healthy glass of wine.
Alchool at any dose increases the risk of: heart diseases, throat cancer, liver failure, mental issues and pathologies (including psychosis, dementia, depression, sleep troubles), violent behaviour including domestic violence, traffic accidents (even without driving), rape, abuse, drinking more (and eventually ethyl coma), drowning in your own (and sometimes others) puke, injuries due to irresponsible behaviours (including electric shocks, fracture, cuts), losing friends and relatives, picking fights, eating stuff you wouldn't ever when sober, and so on.
If you still doubt me, please take the time to research it using reliable sources of information like asking your GP or a nutritionist (but not a homeopath/phytotherapist as these are not real medicines, but pseudomedical grifts).<br/>
Also, if you think you are not addicted, or are actively minimising the adictiveness of a product you are consuming (like kratum), know that a big part of addicts are in denial.
If you are taking a potentially addictive substance, it is always best to have a medical professional know and advise you.
For instance people do not feel concerned about drinking abuse, but I am pretty sure YOU are concerned, especially if you think you are just an occasionnal/party drinker.
If you are confident in your opinion you shouldn't fear reading the following because if your opinion is right, none of the argument I will make can make you change opinion.
You are not cool when tipsy or drunk.
If you every tried staying sober during a party with alchool you may have noticed that drunk people are easy to spot: they are pushy, unconsiderate, unreliable, irresponsible, don't make sense and forget things really quickly; in short they are 14 year olds with memory issues, and everyone knows how 14 year olds are not cool.
In fact a tipsydrunk person is a liability and a douche to sober people.
These sober people are, among others, the waiters, the bartenders, the bouncers, people in the streets, the persons in your group responsible for getting everyone safely home (if you don't have that then you really should, it truly is a life saver).
Alchool makes you forget how bad it is.
Alchool affects memory so you don't remember how bad you, your friends and the whole party was.
It also makes you forget how much alchool you drank, what and how much other substances you took, who abused you in what way, who saved you from injuring yourself and others.
You may not agree with the previous statement and say that you in fact remember all of these things, but you are wrong, human memory is very good at pretending it is reliable when almost all studies on human memory show the contrary (even without alchool).
If you forget information in between two sentences in a conversation, and when you are drunk you do, there is no way you can accurately count how much alchool you ingested, or any of what was mentioned before.
You are not more sociable when tipsy or drunk.
Study shows that the party ambiance is what makes you more sociable and talktative.
Even if the effect is not as much as with alchool, being sociable and talktative is a skill that you can train and apply during parties without having the inconveniences of alchool.
If a party needs alchool to be fun, then don't take part in it, because it means it is not fun at all and just an excuse to drink, satiating your dependency on alchool and making you more dependent on it.
If you still want to have fun try board games, dancing, having interesting conversations, thinking about the state of your life, learning a new skill, playing sports, watching a movie, or any other fun activity that requires you not being drunk to enjoy.<br/>
If you are consuming poisons, I promise you than the best thing you can do for your health without any doubt is to stop, and the effect is so big that not stopping ruins all your other efforts.
</p>
<h3>Trick 2: Have basic hygiene</h3>
<p>
While this may seem obvious and widely done, it is in fact mostly misuderstood.
Basic hygiene is not eliminating body odors, nor is it beauty routines.
Basic hygiene is preventing health conditions from pathogens and dental care.<br/>
This means firstly brushing your teeth regularly, especially before going to bed, so that you preserve effective teeth to eat, and prevent infections which will bring pathogens in your bloodstream and you heart.
THIS LAST POINT IS NOT A JOKE OR EXAGERATED STATEMENT, MOUTH INFECTIONS DO REALLY LEAD TO HEART CONDITIONS.
ASK YOUR DENTIST IF YOU DO NOT BELIEVE ME.<br/>
Secondly, it means washing your hands regularly (especially: after going to the toilets, before eating, after taking public transportation, after being in contact with people affected by contagious diseases) with the proper method (look it up now, if you aren't working in healthcare you probably don't know it), taking care of you ear canals, showering with soap at least once a week but not too often either (specialists recommend once every two days in moderate climate, unless you have a dirty job), and cleaning wounds (clean water is enough, pee is a myth).<br/>
Obviously avoid contact with contagious diseases and avoid subjecting other people to you when you contract one.
In particular GET DAYS OFF WHEN YOU SUSPECT YOU MAY BE SICK, and GOING TO SOCIALS SICK IS ASSHOLE BEHAVIOUR.
Most contagious diseases have an asymptomatic period, so as soon as you suspect you may be sick, make sure you have a plan to test yourself, and make sure to communicate to people you were in contact with recently.
</p>
<h3>Trick 3: Cut (all) sugars, most salt and most (saturated) fats</h3>
<p>
The main cause for obesity is sugar, then fats.
While I'm at it I might as well throw to stop using salt as it is very much overused, causes high blood pressure, and like fats increases risks of heart attacks.
The food industry has lobbied and is still lobbying to confuse people about causes of obesity, they don't want you to know that sugars and fats are bad for you.
Notice I did not say added sugars, nor trans fats; ALL SUGARS ARE BAD FOR YOU, and outside of a reasonable but way smaller than you think amount of unsaturated fats, fats also are.
THERE IS NO SUCH THING AS GOOD SUGARS.
Honey is mostly sugar and is therefore BAD for you, fruit juices are sweeter than sodas and therefore BAD for you.
No amount of other chemicals (minerals, vitamins, ...) is going to compensate the health impact of the sugar in this kind of products.<br/>
As for salt, you might think that food tastes bland without it, but trust me, your palate will adjust.
Try cutting salt for a few months and all your food will become tasty again with subtler flavour profile that you ever imagined food can have.<br/>
If you still doubt me, ask your GP or a nutritionist.
And again applying this trick is going to have more effect than any other thing you can try, but this one is on par with the later tricks in this article.
</p>
<h3>Trick 4: Eat varied and balanced meals</h3>
<p>
If you want to avoid health problems caused by deficits in your diet, learn what a balanced meal is.
Eating varied and balanced meals is going to make ALL SUPPLEMENTS USELESS.
No supplement is going to have a boosting effect on health if you are already getting enough in your meals.
"Boosts" on immune system or energy are only restoring normal function for people with DEFECITS in their diet, otherwise "boosting" effects (as in stronger than normal healthy levels) are a marketting lie perpetrated by the supplement industry.<br/>
Your food may not be as pleasing as you favourite meal but you will get used to the taste, may even enjoy your new food habits more after some time, and heck if I know find a new favourite meal.
Sacrificing long term health to temporarily reduced eating pleasure is not a worth trade.
Please give a go to balanced meals for a few months.
You should start by learning to recognise what a balanced meal is, and how much calories you need (this is often a forgotten part of balanced meals).
Preferrably you should follow by learning to prepare such meals yourself.
And in a doubt, asking for a nutritionist advice is recommended.
</p>
<h3>Trick 5: Do physical activity</h3>
<p>
Physical activity is well known to improve health and help lose weight.
What is less known is that physical activity doesn't have to be sports or gym.
Moving during your daily activities is physical activity which won't always take much time away from your day, and usually won't mess much with your weight by increasing muscle mass.
It can be taking the stairs instead of the elevator, walking and cycling to travel short distances (including changing your daily travels so that you can forego other transport), staying up in public transport, getting up to grab that remote instead of asking someone to do it for you.
Basically, use any opportunity to not be lazy.
</p>
<h3>Addendum: Food safety</h3>
<p>
Wash your vegetables to get rid of pathogens and dirt.
Other people will have touched them in store and while packaging them, and there may have been pathogens when grown in fiels (or greenhouses) because animals exists and have access to your vegetables while they are growing (think flies for instance).<br/>
Dates on some food are only a suggestion.
Some non perishable products have a "best by" date on them.
So know what is perishable, do not consume food if the container is bulging (knowing about botulism should deter you from attempting that again), if it smells strange or if there is some sort of mold on any part of the food (the white/green visible mold may not be dangerous by itself but it is a sign that another kind of dangerous and invisible mold is growing so cutting the visibly affected part is not enough).<br/>
Cook meat products and do not reuse anything having touched it on a product that isn't going to be cooked for a long enough time (I think 85C for 5mins is safe cooking).<br/>
Do not refreeze or refrigerate again.
Do not wash eggs.
</p>
<h3>Conclusion</h3>
<p>
I don't know why people who are addicted to health hacks aren't happy to learn that these tricks are enough to be healthy.
It seems like these people care more about being someone who is in the know that actually measurably better their health.<br/>
Next time someone comes onto you with stupid health hacks, just remind them that you didn't ask and there are better ways to be healthy anyways.
</p>
</body>
</html>
