<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="ascii"/>
<style>
	body {
		margin: 8px;
		min-height: calc(100vh - 16px);
		display: flex;
		flex-direction: column;
	}
	footer {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex-grow: 1;
	}
</style>
<title>Quentin Corradi Professional Webpage</title>
</head>
<body>
<div>
I am Quentin Corradi, a PhD student at Imperial College London.<br/>
I work on HLS stuff.
</div>
<div>
<h1>BLOG!!!1!!!111!!!</h1>
<ol reversed>
<!-- Insert dynamic content here -->
</ol>
</div>
<footer><div><hr/>
	This web 3.0 responsive page was made with intent using <a href="https://github.com/lichray/nvi2">nvi2</a>.
</div></footer>
</body>
</html>
