<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="ascii"/>
<link rel="stylesheet" href="minimalism.css"/>
<style>
	body {
		margin: 8px;
		min-height: calc(100vh - 16px);
		display: flex;
		flex-direction: column;
	}
	footer {
		margin-top: auto;
	}
</style>
<title>Quentin Corradi Professional Webpage</title>
</head>
<body>
<div>
I am Quentin Corradi, a PhD student at Imperial College London.<br/>
I work on HLS and fuzzing stuff.
</div>
<div>
<h1>BLOG!!!1!!!111!!!</h1>
<ol reversed>
<!-- Insert dynamic content here -->
</ol>
</div>
<footer>
<hr/>
This web 3.0 responsive page uses no cookies. It was made with intent using <a href="https://github.com/lichray/nvi2">nvi2</a>.
</footer>
</body>
</html>
